* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('https://static.vecteezy.com/system/resources/previews/012/396/559/original/modern-cybersecurity-technology-background-with-padlock-vector.jpg'); 
	background-size: cover; 
  background-position: center; 
  opacity: 0.9;
  
}

/* Navigation */
nav {
  background-color: #003366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav h1 {
  color: #fff;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  color: #fff;
  padding: 0 10px;
}

nav ul li:hover {
  background-color: #002244;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

/* Login Form */
.contenedor {
  width: 100%;
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  color: white; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.contenedor h2 {
  color: #fff;
  margin-bottom: 20px;
}

.contenedor input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  
}

.contenedor input[type="submit"] {
  background-color: #003366; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
}

.contenedor input[type="submit"]:hover {
  background-color: #002244;
}

/* Subscription */
.subscription {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

}

.subscription h2 {
  color: #fff;
  margin-bottom: 20px;
}

.subscription p {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;

}

.subscription form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fff;

}

.subscription form input[type="submit"] {
  background-color: #003366; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 

}
.benefits{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

/* Incidencias */
.crear_incidencias,
.solucionar_incidencias {
  padding: 20px;
  border-radius: 5px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

}

.crear_incidencias h2,
.solucionar_incidencias h2 {
  color: #fff;
  margin-bottom: 20px;
}

.crear_incidencias form,
.solucionar_incidencias form {
  display: flex;
  flex-direction: column;
  color: #fff;

}

.crear_incidencias label,
.solucionar_incidencias label {
  margin-bottom: 5px;
  color: #fff;

}

.crear_incidencias textarea,
.solucionar_incidencias textarea {
    border: 2px solid #003366; 
    border-radius: 4px; 
    padding: 10px; 
    font-size: 16px; 
    width: 100%;
    box-sizing: border-box; 
    color: #000000;
}
.solucionar_incidencias select{
    border: 2px solid #003366; 
    border-radius: 4px; 
    padding: 10px; 
    font-size: 16px; 
    width: 100%;
    box-sizing: border-box; 
    color: #000000;
}

.crear_incidencias input[type="submit"],
.solucionar_incidencias input[type="submit"] {
  background-color: #003366; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
}

/* Empresa */
.empresa {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

}

.empresa h2 {
  color: #fff;
  margin-bottom: 20px;
}

.empresa p {
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
  color: #fff;

}

/* Explicacion Empresa */
.explicacionempresa {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;

}

.explicacionempresa h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 3rem;
}

.explicacionempresa h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.explicacionempresa img {
  width: 50%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contact Information */
.contacto {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

}

.contacto h1 {
  color: #fff;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.info h2 {
  color: #fff;
  margin-bottom: 10px;
}

.info p {
  color: #fff;
  margin-bottom: 10px;
}

.mapa {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: white;
}
/* Job Application Form */
.Solicitudempleo {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

}

.Solicitudempleo h2 {
  margin-bottom: 20px;
  color: #fff;

}

.Solicitudempleo label {
  display: block;
  margin-bottom: 5px;
  color: #fff;

}

.Solicitudempleo input[type="text"],
.Solicitudempleo input[type="email"],
.Solicitudempleo input[type="tel"],
.Solicitudempleo input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Solicitudempleo input[type="submit"] {
  background-color: #003366;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.Solicitudempleo input[type="submit"]:hover {
  background-color: #002244;
}

.incidencias {
  margin: 20px;
  color: #fff;
}

.incidencia_mostrar {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}

.incidencia_mostrar p {
  margin-bottom: 10px;
}

.incidencia_mostrar b {
  color: #fff;
}
